@charset "UTF-8";


body {
	margin:0px;
	padding:0px;
	background-attachment: scroll;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

#content_container {
	margin-left:auto;
	margin-right:auto;
	width:900px;
	height: 750px;
	background-attachment: scroll;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: right 20%;
}

#logo_container {
	height:300px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#main_container {
	height:90px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#logo_image {
	width:75px;
	height:75px;
	margin-left:10px;
	margin-top:15px;
	float:left;
	background-image: url(../images/logo1.jpg);
}

#top_bar_black {
	width:100%;
	height:90px;
	background-color:#000000;
}

#bottom_bar_black {
	width:100%;
	height:10%;
	background-color:#000000;
}


#header {
	width:500px;
	margin-top:100px;
	margin-bottom:250px;
	float: left;
}

.header_content_mainline {
	font-size:35px;
	color:#000000;
	width:500px;
	font-style: italic;
}

#header_content_boxline {
	font-size:35px;
	color:#000000;
	width:400px;
	font-style: italic;
}

#header_content_lowerline {
	font-size:35px;
	color:#FFFFFF;
	width:400px;
	font-style: italic;
}

#header_content_boxcontent {
	font-size:12px;
	color:#333333;
	width:400px;
	font-style: italic;
}

#header_content_lowerboxcontent {
	font-size:12px;
	color:#CCCCCC;
	width:400px;
}

#header_content_tagline {
	font-size:12px;
	color:#333333;
	width:500px;
}

#header_lower {
	width:400px;
	float:left;
	margin-right:40px;
}

